/*  from.module.css */

/* @media (min-width: 600px) {
  .formRow {
    width: 100%;
  }
} */

input, textarea {
    margin: 5px;
    height: 35px;
    text-indent: 10px;
    border: 2px solid #8400ff5b;
    border-radius: 4px;
    font-size: 16px;
  }
  
  fieldset {
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
    border: 3px solid #8400ff90;
    font-size: 16px;
  }
  
  legend {
    padding: 10px;
    color: #8400ff;
    font-weight: 600;
    font-size: 16px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    max-width: 600px;
    padding: 40px;
  }
  
  .formRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 auto;
    gap: 10px;
  }
  
  .form input,
  .form textarea {
    width: 100%;
    align-self: center;
    height: 35px;
    margin: 5px;
  }

  .form textarea::placeholder {
    padding-top: 8%;
  }
  
  .form select {
    width: 20%;
    height: 48px;
    align-self: center;
    border: 2px solid #8400ff5b;
    font-size: 16px;
    color: #4d4d4d;
    background-color: #ffffff;
  }
  
  label {
    align-self: center;
    justify-self: center;
  }
  
  .formButton {
    margin-top: 30px;
    width: 99%;
    height: 48px;
    align-self: center;
    border: none;
    border-radius: 4px;
    font-weight: 800;
    font-size: 16px;
    font-weight: 500;
    background: linear-gradient(to right, #8400ff 0%, #3d0077 85%, #0d002e 100%);
    color: white;
    transition: 0.3s;
    box-shadow: 0 15px 25px #540b99c2;
  }
  
  .formButton:hover {
    background: linear-gradient(to right, #8400ff 60%, #3d0077 100%);
    cursor: pointer;
    box-shadow: 0 25px 35px 0 rgb(106, 0, 255), 0 45px 55px 0 rgb(144, 0, 255), 0 15px 22px 0 rgb(0, 255, 187);
    transform: translateY(-2px);
  }
  
  .formButton:active {
    transform: perspective(5);
    box-shadow: 0 10px 20px 0 rgb(106, 0, 255), 0 30px 40px 0 rgb(144, 0, 255), 0 3px 10px 0 rgb(0, 255, 187);
  }

