/*  from.module.css */

/* @media (min-width: 600px) {
  .formRow {
    width: 100%;
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

input, textarea {
  margin: 5px;
  height: 35px;
  width: 100%;
  text-indent: 10px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 700;
}

input::placeholder {
  color: #2c120f65;
  font-size: 18px;
  font-weight: 700;
}

textarea::placeholder {
  color: #2c120f65;
  font-size: 18px;
  font-weight: 700;
}

fieldset {
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  border: none;
  font-size: 16px;
}

legend {
  padding: 8px;
  font-weight: 600;
  font-size: 16px;
}
  
.formContainer {
  margin-bottom: 30px;
   background-color: #e1dacf;
}

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 600px;
  padding: 40px;
}

.window {
  width: auto;
  background-color: #e1dacf;
  border: 1px solid #9b9488;
  border-radius: 8px;
  padding: 10px;
}

.formRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.form input,
.form textarea {
  font-family: Special Elite;
  color: #2c120f;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  align-self: center;
  height: 35px;
  margin: 5px;
  background-color: #dacbb3;
  border: none;
}

.doubleContainer {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}

.form select {
  font-family: Special Elite;
  width: 20%;
  height: 40px;
  align-self: center;
  /* border: 2px solid #8400ff5b; */
  border: none;
  border-radius: 4px;
  font-size: 18px;
  color: #2c120f;
  background-color: #dacbb3;
}

label {
  padding: 10px;
  color: #2c120f;
  font-size: 18px;
  font-weight: 700;
  align-self: center;
  justify-self: center;
}

.formButton {
  color: #ffffff;
  font-weight: 800;
  margin-top: 30px;
  width: 99%;
  height: 48px;
  align-self: center;
  background: #858534;
  /* border: 1px solid #9b9488; */
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  color: 2c120f;
  transition: 0.3s;
}

.formButton:hover {
  cursor: pointer;
  box-shadow: 0 3px 0px 1px #67593fe5;
  transform: translateY(-3px);
}

.formButton:active {
  transform: perspective(5);
  box-shadow: 0 0px 0px 1px #67593f;
}
