/* header.module.css */

.header {
  color: #2c120f;
  font-size: 20px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  padding: 10px 30px 10px 20px;
  background: #e1dacf;
}

.headerTitle {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
}
  
h1 {
  margin: 10px auto 0 auto;
  text-align: center;
  color: #ef331b;
}

h4 {
  margin: 0 atuo 10px auto;
  text-align: center;
  color: #ef331b;
}

.line {
  height: 1px;
  background: linear-gradient(to right, #e1dacf, #2c120f, #e1dacf);
}