

.loginFormContainer {
  width: 100%;
  margin-right: auto;
}

.loginFieldset {
  border: none;
}

/* .loginForm {
  padding: 0;
  margin: 0;
  background: #ffffff;
  border: 3px solid rgba(106, 0, 255, 0.566);
  border-radius: 5px;
  color: #6b6b6b;
  font-size: 0.8rem;
  font-weight: 500;
  box-shadow: 0 14px 20px 0 rgba(106, 0, 255, 0.287);
} */

.loginForm {
  background-color: rgba(255, 255, 255, 0.309);
  backdrop-filter: blur(22px);
  color: #6b6b6b;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 0 14px 25px 5px rgba(106, 0, 255, 0.377);
}

.inputField {
  display: flex;
  align-self: center;
}

.button {
  width: 100%;
  height: 40px;
  margin: 8px 0 0 0;
  border: solid 2px rgba(106, 0, 255);
  border-radius: 4px;
  background: linear-gradient(to right, #8400ff 0%, #3d0077 85%, #0d002e 100%);
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.input {
  background-color: rgba(255, 255, 255, 1);
}

fieldset {
  margin: 4px;
  padding: 1em;
  font-size: 16px;
}

input {
  width: 100%;
  height: 35px;
  margin: 4px 0 6px 6px;
}

input::placeholder {
  font-size: 16px;
}