/* nav.module.css */

.navContainer {
  display: flex;
  flex-direction: column;
}

.nav {
  align-content: center;
}

.navMenu {
  display: flex;
  align-content: center;
  justify-content: center;
  list-style-type: none;
  gap: 20px;
  border-left: solid 2px white;
  height: 100%;
  flex-grow: 1;
}

.navMenu > li {
  padding: 20px;
  cursor: pointer;
}

.loginButton {
  background-color: #010101;
  box-shadow: 0 1px 18px rgb(130, 0, 251);
  padding: 20px;
  border-radius: 4px;
  transition: 0.1s;
  min-width: 55px;
}

.loginButton:hover {
  background-color: #111111;
  box-shadow: 0 1px 50px rgb(130, 0, 251);
  transition: 0.1s;
}

.loginFormWrapper {
  position: absolute;
  margin: 90px -50px;
}

.userWelcome {

  margin: 15px 25px auto 20px;
  align-self: center;
}

